<app-navbar></app-navbar>
<div class="container-fluid mb-4">
  <app-carrousel></app-carrousel>
</div>
<!-- Codigo aca -->
<div class="row">

  <div class="col-12 col-sm-4 d-flex justify-content-center mb-4">
    <img src="../../../../assets/Images/super-avance1.png" class="img-fluid" alt="...">
  </div>
  <div class="col-12 col-sm-4 d-flex justify-content-center mb-4">
    <img src="../../../../assets/Images/super-avance2.png" class="img-fluid" alt="...">
  </div>
  <div class="col-12 col-sm-4 d-flex justify-content-center mb-4">
    <img src="../../../../assets/Images/super-avance1.png" class="img-fluid" alt="...">
  </div>
</div> 

<!-- Codigo aca -->

<app-footer></app-footer>