<body style="background-image: url(../../../assets/Images/full_screenlogin.jpeg); background-size: cover; height: 100vh;">
<!-- <div class="row">
    <div class="col-6 imagen-login">
        <img src="../../../assets/Images/image_login.png" class="img-fluid " alt="...">
    </div>
</div> -->
<div class="row">
    <div class="col-6 ">
        <div  style="margin-left:1em; margin-top:1em; border-radius: 2em;" id="leftHalf"></div>
    </div>
    <div class="col-6 d-flex align-items-center justify-content-center" style="height: 100vh;">
        <!-- Card con form de login. -->


        <div class="card " style="height: 60vh; width: 80vh;border-radius: 3em;padding-left:2em; padding-right:2em">
            <div class="card-body">
               <p style="font-size:.8em"> {{response_wso2| json}}</p> 
<!--               <div class="row">
                  <div class="col-12 text-center">
                    <img src="../../../assets/Images/fashions-park-logo.png" class="imagen-logo img-fluid mt-4" alt="..." width="300em">

                    <div class="row">
                        <div class="col-12 mt-2">
                            <h4>Bienvenido</h4>
                            <h5 class="text-muted">INGRESA TUS DATOS</h5>
                        </div>

                    </div>


                    <div class="mb-3 mt-2">
                        <label for="exampleFormControlInput1" class="form-label">Usuario</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                      </div>
                      <div class="mb-4">
                        <label for="exampleFormControlTextarea1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                      </div>
                      <button type="submit" class="btn" style="background-color: #aa0033; color: white; border-radius:5em;min-width: 10em;" >Ingresar</button>


                  </div>
              </div> -->
            </div>  
          </div>




        <!-- Card con form de login. -->
    </div>
</div>



</body>