
.header-fsp-ua{
    border-bottom: .2em solid var(--color-fsp);
    height: 6em;
}


.menu-user-area{
    height: calc(100vh - 6em);
    background-color: var(--color-fsp-gray);
}

.imagen-logo{
    width: 20em;
    margin-left:1em;
}

.logo-pequenio{
    width: 32px;
}

.item-listado-menufsp{
    border: 0;background-color:  var(--color-fsp-gray);
    margin-bottom: 0.4em;
    font-weight: 600;
    font-size: .9em;
}

.bi{
    margin-right: .4em;
}


.container-inicio{
    max-height:calc(100vh - 6em);
}

@media only screen and (max-width: 600px){
    .btn-color-fsp{
        width: 30vw;
    }


    .container-inicio{
        max-height:10000px;
    }
}