
<div class="row">
    <div class="col-12 col-sm-6 container-inicio" > <!-- style="max-height:calc(100vh - 6em);" -->

                
        <app-outstanding-balance [accountObject]="objectAccountStatement"></app-outstanding-balance>
        <app-account-statement [accountObject]="objectAccountStatement"></app-account-statement>
        <ngx-spinner type="ball-scale-multiple"></ngx-spinner>

    </div>
    <div class="col-12 col-sm-6 container-inicio" > <!-- style="max-height:calc(100vh - 6em);" -->

        


        <app-card-image-ua urlImg="../../../assets/Images/banner-ua2.png" heightInput="45%"></app-card-image-ua>
        <app-card-image-ua urlImg="../../../assets/Images/banner-ua1.png" heightInput="48%"></app-card-image-ua>

    </div>
</div>