<div class="row">
  <div class="col-12 p-2 mb-2" >
      <img src="../../../../assets/Images/banner-horizontal_1.jpg" class="img-fluid" alt="..." >
  </div>
</div>


<div class="row">
  <div class="col-12 text-center mb-4" style="padding-top:2em;">
      <h5 class="fw-bolder">Estados de cuenta</h5>
      <hr  >
  </div>
</div>



<div class="row">
  <div class="col-8">
      <div class="input-group mb-3">
          <span  style="border-radius:  .8em 0 0 .8em; background-color: var(--color-fsp);" class="input-group-text" id="basic-addon1">
              <i style="color: white;" class="bi bi-search"></i></span>
          <input type="text" class="form-control " style="border-radius: 0 .8em .8em 0;" placeholder="Buscar" aria-label="Username" aria-describedby="basic-addon1">
        </div>
  </div>


  <div class="col-4">
      <app-button-fsp
      minWidthPropValue="15em"
      borderRadiusPropValue="4em"
      fontSizeProp="1em"
      class="d-flex align-items-center justify-content-center"
      nombre="Filtrar"
      [useIcon]="useIcon"
      classIcon="bi bi-filter" ></app-button-fsp>
  </div>
</div>


<div class="row">

  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Fecha</th>
          <th scope="col">Mes</th>
          <th class="text-center" scope="col">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">20/03/2022</th>
          <td>Marzo - 2022 </td>
          <td>        <app-button-fsp
              minWidthPropValue="12em"
              borderRadiusPropValue="4em"
              fontSizeProp=".8em"
              class="d-flex align-items-center justify-content-center"
              [useIcon]="useIcon"
              classIcon="bi bi-cloud-download"
              nombre="Descargar"></app-button-fsp></td>
        </tr>
        <tr>
          <th scope="row">20/03/2022</th>
          <td>Marzo - 2022 </td>
          <td>        <app-button-fsp
              minWidthPropValue="12em"
              borderRadiusPropValue="4em"
              fontSizeProp=".8em"
              [useIcon]="useIcon"
              classIcon="bi bi-cloud-download"
              class="d-flex align-items-center justify-content-center"
              nombre="Descargar"></app-button-fsp></td>
        </tr>

      </tbody>
    </table>
</div>
