.btn-fsp-light{
    padding: .3rem .65rem; font-size: .75rem;
    font-weight: 700;
    border: .1em solid var(--color-fsp-gray)
}
.text_button{
    margin-left: .4em;
}

.bi::before {
    font-size: 1.2em;

}

@media only screen and (max-width: 600px){
    .btn-fsp-light{
        width: 30vw;
    }
}