<app-navbar></app-navbar>
<div class="container-fluid mb-4">
  <app-carrousel></app-carrousel>
</div>
<!-- Codigo aca -->

<!-- <div class="card bg-dark text-white">
  <div class="imagen"></div>
  <div class="card-img-overlay">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text">Last updated 3 mins ago</p>
  </div>
</div> -->



  <section class="light">
      <div class="container py-2">
        <div class="h1 text-center text-dark" id="pageHeaderTitle">Información de los avances</div>




    
        <article class="postcard light blue">
          <a class="postcard__img_link" href="#">
            <img class="postcard__img" src="https://picsum.photos/1000/1000" alt="Image Title" />
          </a>
          <div class="postcard__text t-dark">
            <h1 class="postcard__title blue"><a href="#">Características Avances</a></h1>
            <div class="postcard__subtitle small">
              <time datetime="2020-05-25 12:00:00">
                <i class="fas fa-calendar-alt mr-2"></i>Avance en efectivo
              </time>
            </div>
            <div class="postcard__bar"></div>
            <div class="postcard__preview-txt">
            
            
            

              <ul>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim. </li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim. </li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim. </li>
              </ul>
            
            </div>
            <ul class="postcard__tagbox">
              <li class="tag__item"><i class="fas fa-tag mr-2"></i>Desde $50.000</li>
              <li class="tag__item"><i class="fas fa-clock mr-2"></i>Hasta $500.000</li>
              <li class="tag__item play blue">
                <a href="#"><i class="fas fa-play mr-2"></i>lorem ipsu</a>
              </li>
            </ul>
          </div>
        </article>



        <article class="postcard light red">
          <a class="postcard__img_link" href="#">
            <img class="postcard__img" src="https://picsum.photos/501/500" alt="Image Title" />	
          </a>
          <div class="postcard__text t-dark">
            <h1 class="postcard__title red"><a href="#">Información del Super Avance</a></h1>
            <div class="postcard__subtitle small">
              <time datetime="2020-05-25 12:00:00">
                <i class="fas fa-calendar-alt mr-2"></i>Super Avance
              </time>
            </div>
            <div class="postcard__bar"></div>
            <div class="postcard__preview-txt">
            
            
            

              <ul>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim. </li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim. </li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim. </li>
              </ul>
            
            </div>

            <ul class="postcard__tagbox">
              <li class="tag__item"><i class="fas fa-tag mr-2"></i>Desde $50.000</li>
              <li class="tag__item"><i class="fas fa-clock mr-2"></i>Hasta $500.000</li>
              <li class="tag__item play blue">
                <a href="#"><i class="fas fa-play mr-2"></i>lorem ipsu</a>
              </li>
            </ul>
          </div>
        </article>




  <!--       <article class="postcard light green">
          <a class="postcard__img_link" href="#">
            <img class="postcard__img" src="https://picsum.photos/500/501" alt="Image Title" />
          </a>
          <div class="postcard__text t-dark">
            <h1 class="postcard__title green"><a href="#">Podcast Title</a></h1>
            <div class="postcard__subtitle small">
              <time datetime="2020-05-25 12:00:00">
                <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
              </time>
            </div>
            <div class="postcard__bar"></div>
            <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
            <ul class="postcard__tagbox">
              <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
              <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
              <li class="tag__item play green">
                <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
              </li>
            </ul>
          </div>
        </article>




        <article class="postcard light yellow">
          <a class="postcard__img_link" href="#">
            <img class="postcard__img" src="https://picsum.photos/501/501" alt="Image Title" />
          </a>
          <div class="postcard__text t-dark">
            <h1 class="postcard__title yellow"><a href="#">Podcast Title</a></h1>
            <div class="postcard__subtitle small">
              <time datetime="2020-05-25 12:00:00">
                <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
              </time>
            </div>
            <div class="postcard__bar"></div>
            <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
            <ul class="postcard__tagbox">
              <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
              <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
              <li class="tag__item play yellow">
                <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
              </li>
            </ul>
          </div>
        </article>
  -->

      </div>
  </section>


<!-- Codigo aca -->

<app-footer></app-footer>