<!-- <nav class="navbar-fsp">

    <div class="row-navbar-top">

    </div>

    <div class="row-logo">
        <span class="img-logo"></span>


        <app-user-area></app-user-area>
    </div>

    <div class="row-navbar-bottom">
        <button (click)="eventoClick()" class="btn btn-outline-primary">Test SO2</button>
    </div>

</nav> -->

<div class="header">

    <div class="row top d-flex justify-content-start  align-items-center">
        <div class="col-3 col-xl-1  d-flex justify-content-end div-img">
            <a href="./peo" class="logo-pequenio"></a>
        </div>
        <div class="col-6 col-xl-2 ">
            <h6 class="header-top-text">TIENDA VIRTUAL</h6>
        </div>
    </div>

    <div class="row middle align-items-center">
        <div class="col-12 d-flex justify-content-center col-lg-4 col-xl-4">
            <span class="img-logo"></span>
        </div>
    </div>

    <div class="row bottom"></div>

</div>
