/* @use '../../../styles.scss' as *; */
/* @use '../../../../node_modules/bootstrap/scss/bootstrap' as *; */
.imagen-logo{
    width: 80%;
}

.row-logo {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.header .top{
    background-color: var(--color-fsp-gray);
    height: 1.3em;
}

.header{
    height:50%;
}

.logo-pequenio{
    background: url(../../../assets/Images/logo_pequenio_fsp.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 1.2em;
    width: 1.2em;
    display:inline-block;
}

.header-top-text{
 /*    display: inline-block;
    margin-top:auto; */
    font-weight: 700;
    font-size: .8em;
    margin: 0;
}

.div-img{
    width: 3em;
}

.servicio-cliente-text{
    display: inline;
    /* margin-left: 1em; */
    margin-top: 1em;
    margin-bottom: 0;
    font-weight: 600;
}

.servicio-cliente-div{
    margin-top:1.2em;
    margin-left:0;
}

.nav-link{
    color: black;
}

.navbar-fsp{
    font-size: .8em;
}

.group-buttons{
    padding-right: 2em;
}

@media only screen and (max-width: 600px){
    .btn-type-fsp{
       /*  margin-top: 1em; */
    }
}


.items-navbar{
    border-bottom: .2em solid white;
    transition: 2s;
    &:hover{
        border-bottom: .2em solid red;

    }
}