<!-- <nav class="navbar-fsp">

    <div class="row-navbar-top">

    </div>

    <div class="row-logo">
        <span class="img-logo"></span>


        <app-user-area></app-user-area>
    </div>

    <div class="row-navbar-bottom">
        <button (click)="eventoClick()" class="btn btn-outline-primary">Test SO2</button>
    </div>

</nav> -->

<div class="header">

    <div class="row top d-flex justify-content-start  align-items-center">
        <div class="col-3 col-xl-1    d-flex justify-content-end div-img">
            <a href="./peo" class="logo-pequenio"></a>
        </div>
        <div class="col-6 col-xl-2 ">
            <h6 class="header-top-text">TIENDA VIRTUAL</h6>
        </div>
    </div>

    <div class="row middle align-items-center ">
        <div class="col-12 col-lg-4 col-xl-4 col-xxl-5 d-flex justify-content-center ">
            <span class="img-logo"></span>
        </div>

        <div class="col-12 col-lg-3 col-xl-3 col-xxl-2 d-flex  align-items-end justify-content-center flex-wrap servicio-cliente-div">
            <i class="bi bi-chat-left-dots"></i> <p class="fs-6 servicio-cliente-text">SERVICIO AL CLIENTE </p>
            <p>800 123 490</p>
        </div>

        <div class="col">
            <button>Mi cuenta</button>
            <button class="btn btn-color-fsp">Solicita tu tarjeta</button>
        </div>
    </div>

    <div class="row bottom"></div>

</div>
