<div class="header mb-2">

    <div class="row top justify-content-start  align-items-center">
<!--         <div class="col-3 col-xl-1 d-flex  ">
            <a [routerLink]="['/']" class="logo-pequenio"></a>
        </div>
        <div class="col-6 col-xl-2 ">
            <h6 class="header-top-text">TIENDA VIRTUAL</h6>
        </div> -->
        <div class="col-12 d-flex align-items-center">
            <a [routerLink]="['/']" class="logo-pequenio " style="margin-right: .7em;"></a>
            <h6 class="header-top-text">TIENDA VIRTUAL</h6>
        </div>
    </div>


    <div class="row middle align-items-center justify-content-center">

        <div class="col-10 col-md-7 col-lg-4 col-xl-4 col-xxl-4 d-flex justify-content-center mt-4">
            <img src="../../../assets/Images/fashions-park-logo.png" class="imagen-logo img-fluid" alt="...">
        </div>





        <div class="col-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4  justify-content-center flex-wrap servicio-cliente-div d-none d-md-flex">
            <p class="fs-6 servicio-cliente-text w-100 text-center">
                <i  class="bi bi-chat-left-dots m-2"></i>
                SERVICIO AL CLIENTE 
            </p>
            <p class="w-100 text-center fw-bold">800 123 490</p>
        </div>


        <div class="col-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4 d-flex justify-content-center flex-wrap servicio-cliente-div d-flex d-md-none">
            <p class="servicio-cliente-text w-100 text-center" style="font-size: .65em;margin-left: -2em">
                <i  class="bi bi-chat-left-dots m-2"></i>
                SERVICIO AL CLIENTE 
            </p>
            <p class="w-100 text-center fw-bold"  style="font-size: .65em;margin-left: -2em">800 123 490</p>
        </div>




        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4 d-flex justify-content-end justify-content-sm-end justify-content-md-center justify-content-lg-center justify-content-xl-end  group-buttons">

            <div class="row d-flex ">
                <div class=" col-10 col-sm-6 col-md-6 d-flex justify-content-md-center  d-none d-md-block ">
                    <app-button-light-fsp 
                    [useIcon]="useIconVar"
                    minWidthPropValue="12em"
                    class="btn-type-fsp" 
                    classIcon="bi bi-lock" 
                    (eClick)="eventoClick()" 
                    
                    nombre="Mi Cuenta"></app-button-light-fsp>
                </div>
                <div class="col-10 col-sm-10 col-md-6 d-flex justify-content-end">  
                    <app-button-fsp 
                    minWidthPropValue="12em"
                    class="btn-type-fsp d-flex align-items-center" 
                    [routerLink]="['/public/Prospects']"
                    nombre="Solicita tu tarjeta"></app-button-fsp>
                </div>
                <div class="col-2 d-block d-md-none p-0">
                    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbar">
                        <i class="bi bi-justify"></i>
                    </button>
                </div>
            </div>
        </div>



    </div>

</div>

<div class="d-flex justify-content-around" style="padding: 0 .9em">
    <nav class=" d-none d-md-flex justify-content-around" style="width:100%">
<!--    <a   class="p-2 text-dark fw-bold text-decoration-none items-navbar">Inicio</a>

        <div class="hovera">
            <a   class="p-2 text-dark fw-bold text-decoration-none items-navbar">
                Tarjetas <i class="bi bi-chevron-down"></i>  </a>
                

                    <ul class="list-group list-group-flush desplegable-header">
                        <li class="list-group-item item-listado-fsp">Solicita tu tarjeta</li>
                        <li class="list-group-item item-listado-fsp">Características</li>
                    </ul>
              
          
        </div>

        <a   class="p-2 text-dark fw-bold text-decoration-none items-navbar">
            Avances <i class="bi bi-chevron-down"></i>
            <div class="desplegable-header" ></div>
        </a>
        <a   class="p-2 text-dark fw-bold text-decoration-none items-navbar">
            Seguros <i class="bi bi-chevron-down"></i>
            <div class="desplegable-header" ></div>
        </a>
        <a   class="p-2 text-dark fw-bold text-decoration-none items-navbar">Club de beneficios</a>
        <a   class="p-2 text-dark fw-bold text-decoration-none items-navbar">
            Paga tu cuenta <i class="bi bi-chevron-down"></i>
            <div class="desplegable-header bigger-desplegable" ></div>
        </a>
        <a   class="p-2 text-dark fw-bold text-decoration-none items-navbar">Educación financiera</a>  -->

        <ul class="fsp-navbar d-flex justify-content-around" style="padding:0">
            <li class="fsp-item-navbar text-center" [routerLink]="['/public']">
                <a  >Inicio</a>
            </li>

            <li class="fsp-item-navbar  text-center" [routerLink]="['/public/educacion-financiera']">
                <a  >Educación financiera</a>
            </li>

            <li class="fsp-item-navbar  text-center">
                <a  >Tarjeta <i class="bi bi-chevron-down"></i></a>
                
                <ul class="list-group list-group-flush fsp-subitem-navbar">
                    <li class=" list-group-item item-listado-fsp"  [routerLink]="['/public/Prospects']">Solicita tu tarjeta</li>
                    <li class=" list-group-item item-listado-fsp"  [routerLink]="['/public/caracteristicas-tarjeta']">Características</li>
                </ul>
            </li>

            <li class="fsp-item-navbar  text-center">
                <a  >Avances <i class="bi bi-chevron-down"></i></a>
                
                <ul class="list-group list-group-flush fsp-subitem-navbar">
                    <li class=" list-group-item item-listado-fsp" [routerLink]="['/public/avance']">Avance</li>
                    <li class=" list-group-item item-listado-fsp"  [routerLink]="['/public/super-avance']" >Super avance</li>
                    <li class=" list-group-item item-listado-fsp">Información del avance</li>
                </ul>
            </li>
            
            <li class="fsp-item-navbar  text-center">
                <a  >Seguros <i class="bi bi-chevron-down"></i></a>
                <ul class="list-group list-group-flush fsp-subitem-navbar">
                    <li class=" list-group-item item-listado-fsp"  [routerLink]="['/public/muerte-accidental']">Seguro muerte accidental</li>
                </ul>
            </li>

            <li class="fsp-item-navbar  text-center"  [routerLink]="['/public/beneficios']">
                <a  >Club de beneficios</a>
            </li>
            
            <li class="fsp-item-navbar  text-center">
                <a  >Paga tu cuenta <i class="bi bi-chevron-down"></i></a>
                <ul class="list-group list-group-flush fsp-subitem-navbar">
                    <li class=" list-group-item item-listado-fsp"  [routerLink]="['/public/lugares-pago']">Pagar cuenta</li>
                    <li class=" list-group-item item-listado-fsp" [routerLink]="['/public/lugares-pago']">Lugares de pago</li>
                </ul>
            </li>


        </ul> 

    </nav>
</div>




<div id="navbar" class="offcanvas offcanvas-start" style="width:80%">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Menu</h5>

        <app-button-light-fsp 
        [useIcon]="useIconVar"
        minWidthPropValue="10em"
        class="btn-type-fsp" 
        classIcon="bi bi-lock" 
        (eClick)="eventoClick()" 
        style="margin-right: -2em;"
        nombre="Mi Cuenta"></app-button-light-fsp>

        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
    <nav class="d-flex flex-column justify-content-around align-items-start flex-wrap mb-2 navbar" style="padding-left:1em">
        <a  [routerLink]="['/public']"   class="p-2 text-dark fw-bold text-decoration-none">
            <i class="bi bi-house" style="margin-right:.5em"></i> Inicio
        </a>
        
        <a   [routerLink]="['/public/caracteristicas-tarjeta']" class="p-2 text-dark fw-bold text-decoration-none">
            <i class="bi bi-credit-card" style="margin-right:.5em" ></i>Tarjetas <i class="bi bi-chevron-down"></i>
        </a>
        
        <a  [routerLink]="['/public/avance']"  class="p-2 text-dark fw-bold text-decoration-none">
            <i class="bi bi-cash-coin" style="margin-right:.5em" ></i>Avances <i class="bi bi-chevron-down"></i>
        </a>
        
        <a [routerLink]="['/public/muerte-accidental']"  class="p-2 text-dark fw-bold text-decoration-none">
            <i class="bi bi-card-heading" style="margin-right:.5em"  ></i>Seguros <i class="bi bi-chevron-down"></i>
        </a>
        
        <a [routerLink]="['/public/beneficios']"  class="p-2 text-dark fw-bold text-decoration-none">
            <i class="bi bi-gift" style="margin-right:.5em"  ></i>Club de beneficios
        </a>
        
        <a [routerLink]="['/public/lugares-pago']"  class="p-2 text-dark fw-bold text-decoration-none">
            <i class="bi bi-wallet2" style="margin-right:.5em" ></i>Paga tu cuenta <i class="bi bi-chevron-down"></i>
        </a>
        
        <a [routerLink]="['/public/educacion-financiera']"  class="p-2 text-dark fw-bold text-decoration-none">
            <i class="bi bi-currency-exchange" style="margin-right:.5em" ></i>Educación financiera
        </a>

    </nav>

    <div class="d-flex align-items-end justify-content-center" style="height:100%; padding-bottom: 2em">
        <img src="./../../../../assets/Images/logo2.png" class="img-fluid" alt="..." width="100px">

    </div>
</div>




