<!-- <app-navbar></app-navbar>
<div class="container-fluid mb-4">
<app-carrousel></app-carrousel>
</div>


<div class="container">

    <div class="row">
        <div class="col-12 col-sm-4">
            <div class="card" >
                <img src="../assets/Images/banner1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>


        <div class="col-12 col-sm-4">
            <div class="card" >
                <img src="../assets/Images/banner1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>



        <div class="col-12 col-sm-4">
            <div class="card" >
                <img src="../assets/Images/banner1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>


    

    </div>
</div>  


<section class="wrapper">
    <div class="container">
    
    <div class="row">
   <div class="col-md-4 mb-3"><div class="card text-white card-has-bg click-col" style="background-image:url('https://source.unsplash.com/600x900/?tech,street');">
           <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
          <div class="card-img-overlay d-flex flex-column">
           <div class="card-body">
              <small class="card-meta mb-2">Thought Leadership</small>
              <h4 class="card-title mt-0 "><a class="text-white" herf="#">Goverment Lorem Ipsum Sit Amet Consectetur dipisi?</a></h4>
             <small><i class="far fa-clock"></i> October 15, 2020</small>
            </div>
            <div class="card-footer">
             <div class="media">
    <img class="mr-3 rounded-circle" src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png" alt="Generic placeholder image" style="max-width:50px">
    <div class="media-body">
      <h6 class="my-0 text-white d-block">Oz COruhlu</h6>
       <small>Director of UI/UX</small>
    </div>
  </div>
            </div>
          </div>
        </div></div>
       <div class="col-md-4 mb-3"><div class="card text-white card-has-bg click-col" style="background-image:url('https://source.unsplash.com/600x900/?tree,nature');">
           <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tree,nature" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
          <div class="card-img-overlay d-flex flex-column">
           <div class="card-body">
              <small class="card-meta mb-2">Thought Leadership</small>
              <h4 class="card-title mt-0 "><a class="text-white" herf="#">Goverment Lorem Ipsum Sit Amet Consectetur dipisi?</a></h4>
             <small><i class="far fa-clock"></i> October 15, 2020</small>
            </div>
            <div class="card-footer">
             <div class="media">
    <img class="mr-3 rounded-circle" src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png" alt="Generic placeholder image" style="max-width:50px">
    <div class="media-body">
      <h6 class="my-0 text-white d-block">Oz COruhlu</h6>
       <small>Director of UI/UX</small>
    </div>
  </div>
            </div>
          </div>
        </div></div>
    <div class="col-md-4 mb-3"><div class="card text-white card-has-bg click-col" style="background-image:url('https://source.unsplash.com/600x900/?computer,design');">
           <img class="card-img d-none" src="https://source.unsplash.com/600x900/?computer,design" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
          <div class="card-img-overlay d-flex flex-column">
           <div class="card-body">
              <small class="card-meta mb-2">Thought Leadership</small>
              <h4 class="card-title mt-0 "><a class="text-white" herf="#">Goverment Lorem Ipsum Sit Amet Consectetur dipisi?</a></h4>
             <small><i class="far fa-clock"></i> October 15, 2020</small>
            </div>
            <div class="card-footer">
             <div class="media">
    <img class="mr-3 rounded-circle" src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png" alt="Generic placeholder image" style="max-width:50px">
    <div class="media-body">
      <h6 class="my-0 text-white d-block">Oz COruhlu</h6>
       <small>Director of UI/UX</small>
    </div>
  </div>
            </div>
          </div>
        </div></div>
    
  </div>
    
  </div>
  </section> -->
  


  <router-outlet></router-outlet>