.card-account-statement{
    background: #FFFFFF;
    box-shadow: 0px 3.49714px 6.99429px 1.74857px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    width: 95%;
    height: 48%;
    max-height: 48%;
    margin-top:1em;
   
}
.small-card{
    background: #FFFFFF;
box-shadow: 0px 1.74857px 3.49714px rgba(0, 0, 0, 0.25);
border-radius: 5.24571px;
height: 3.5em;
width: 80%;
margin: 1em auto;
font-size:.7em;
}

/* width */
::-webkit-scrollbar {
    width: 0;
  }
  

  h5{
      font-size: .9em;
  }

  h6{
      font-size: .8em;
  }

  small{
      font-size: .7em;
  }


  @media only screen and (max-width: 600px){
    .small-card{

    height: 5.5em;
    padding-top: 1em;

    }
}