<div class="card-account-statement overflow-auto">
    <div class="row">
        <div class="col-6 text-center p-3" style="border-bottom: .2em solid var(--color-fsp)">
            <h5 class="m-0 fw-bolder">Facturados</h5>
        </div>

        <div class="col-6 text-center p-3"  style="border-bottom: .2em solid var(--color-fsp-gray)">
            <h5 class="m-0 fw-bolder" >No Facturados</h5>
        </div>

        <div class="small-card">
            <div class="row">
                <div class="col-6 fw-bolder">
                    Gastos del período
                </div>
                <div class="col-6 fw-bolder text-end">
                    $500.000
                </div>
            </div>
            <div class="row">
                <div class="col-8 fw-bold text-muted">
                    Próxima facturación
                </div>
                <div class="col-4 fw-bold text-muted text-end">
                    01/06/2022
                </div>
            </div>
        </div> 
        
        
        
        <ul class="list-group list-group-flush ">
            <li class="list-group-item ">
                <div class="row">
                    <div class="col-6 fw-bolder"><h6 class="fw-bold">Recargo de cobranza</h6></div>
                    <div class="col-6 fw-bolder text-end m-0"><h6 class="fw-bold">$5.000</h6></div>
                    <div class="col-6"><small class="text-muted">01/02/2022</small></div>
                    <div class="col-6  text-end"><small class="text-muted ">1/1 cuotas</small></div>
                </div>
            </li>
            <li class="list-group-item ">
                <div class="row">
                    <div class="col-6 fw-bolder"><h6 class="fw-bold">Recargo de cobranza</h6></div>
                    <div class="col-6 fw-bolder text-end m-0"><h6 class="fw-bold">$5.000</h6></div>
                    <div class="col-6"><small class="text-muted">01/02/2022</small></div>
                    <div class="col-6  text-end"><small class="text-muted ">1/1 cuotas</small></div>
                </div>
            </li>
            <li class="list-group-item ">
                <div class="row">
                    <div class="col-6 fw-bolder"><h6 class="fw-bold">Recargo de cobranza</h6></div>
                    <div class="col-6 fw-bolder text-end m-0"><h6 class="fw-bold">$5.000</h6></div>
                    <div class="col-6"><small class="text-muted">01/02/2022</small></div>
                    <div class="col-6  text-end"><small class="text-muted ">1/1 cuotas</small></div>
                </div>
            </li>
            <li class="list-group-item ">
                <div class="row">
                    <div class="col-6 fw-bolder"><h6 class="fw-bold">Recargo de cobranza</h6></div>
                    <div class="col-6 fw-bolder text-end m-0"><h6 class="fw-bold">$5.000</h6></div>
                    <div class="col-6"><small class="text-muted">01/02/2022</small></div>
                    <div class="col-6  text-end"><small class="text-muted ">1/1 cuotas</small></div>
                </div>
            </li>
        </ul>

    </div>
</div>
