.bigger-card-fsp{
   /*  min-height: 35em; */
    border: 0;
   
    border-radius: 16px;
    transition: transform 0.7s;

    
    &:hover {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1.03);
		opacity: 1;
	}
}

.img-card-fsp{
    border-radius: 16px;
    /* max-height: 14em; */
}

.image-div{
  padding:3em;
}

@media only screen and (max-width: 600px){
    .image-div{
      margin-bottom: 2em;
      padding:0.1em;
    }
}