<div class="card mb-3  shadow p-3 mb-5 bg-body bigger-card-fsp text-center" style = "">
    <div class="row g-0">
      <div class="col-md-4 image-div">
        <img [src]="cardImage" class="img-fluid rounded-start " alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body d-flex flex-column justify-content-evenly" style="height: 80%;">
         
         
            <h5 class="card-title fw-bold">{{ cardTitle }}</h5>
          <p class="card-text">{{ cardBody }}</p>


          
        <div class="row text-center">

            <app-button-fsp 
            minWidthPropValue="12em"
            class="btn-type-fsp d-flex align-items-center justify-content-center" 
            nombre="Solicita tu tarjeta"></app-button-fsp>
        </div>

          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
      </div>
    </div>
  </div>