
.header-fsp-ua{
    border-bottom: .2em solid var(--color-fsp);
    height: 6em;
}

.logo-pequenio{
    width: 32px;
}



.imagen-logo{
    width: 20em;
    margin-left:1em;
    cursor:pointer;
}


.tiendaVirtual{
    cursor:pointer;
}

