<div class="card-outstanding-balance">
    <div class="row align-items-center" style="height: 100%;padding:2em">
        <div class="row ">
            <div class="col-12 text-center mb-4">
                <h5 class="fw-bolder">Cupo total</h5>
                <h3 class="fw-bolder">2.000.000</h3>
                <div class="d-flex justify-content-center">
                    <div class="progress" style="height: .7em;width: 80%;">
                        <div class="progress-bar" role="progressbar" style="width: 35%; background-color: var(--color-fsp);" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                </div>


            </div>

        </div>

        <div class="row justify-content-center align-items-center">
            <div class="col-3 mb-4" >
                <h6 class="fw-bolder">Utilizado</h6>
                <h5 class="fw-bolder" style="color: var(--color-fsp)">$730.000</h5>
                
            </div>


            <div class="col-1 d-flex mb-4" style="height: 50px;">
                <div class="vr"></div>
            </div>

            <div class="col-3 mb-4">
                <h6 class="fw-bolder">Disponible</h6>
                <h5 class="fw-bolder">$730.000</h5>
            </div>
        </div>


        <div class="row d-flex justify-content-between">
            <div class="col-6"><h5 class="fw-bolder">Total Facturado</h5></div>
            <div class="col-3"> <h5 class="fw-bolder">$120.000</h5></div>
            
        </div>
    </div>

</div>
