<app-navbar></app-navbar>
<div class="container-fluid mb-4">
  <app-carrousel></app-carrousel>
</div>
<!-- Codigo aca -->
<div class="container" style="padding-top:3em;padding-right:4em">



  <div class="card mb-3" style="border:none">
    <div class="row g-0">
      <div class="col-md-4 d-flex align-items-center justify-content-center">
        <!-- <img src="..." class="img-fluid rounded-start" alt="..."> --><i class="bi bi-gift" style="font-size:4em; color: var(--color-fsp)"></i>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Ofertas exclusivas</h5>
          <p class="card-text">Oportunidades exclusivas a precios increíbles sólo con tu tarjeta Fashionspark.</p>
          
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
      </div>
    </div>
  </div>
  <hr>


  <div class="card mb-3" style="border:none">
    <div class="row g-0">
      <div class="col-md-4 d-flex align-items-center justify-content-center">
        <!-- <img src="..." class="img-fluid rounded-start" alt="..."> --><i class="bi bi-cash-coin" style="font-size:4em; color: var(--color-fsp)"></i>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Avance en efectivo</h5>
          <p class="card-text">Dinero en efectivo desde $60.000 hasta $700.000 y Super Avance hasta $1.500.000.</p>
          
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
      </div>
    </div>
  </div>
  <hr>

  <div class="card mb-3" style="border:none">
    <div class="row g-0">
      <div class="col-md-4 d-flex align-items-center justify-content-center">
        <!-- <img src="..." class="img-fluid rounded-start" alt="..."> --><i class="bi bi-wallet2" style="font-size:4em; color: var(--color-fsp)"></i>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Avance por monto mínimo</h5>
          <p class="card-text">Tienes la opción de pagar parte de la cuota y refinanciar el saldo.</p>
          
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
      </div>
    </div>
  </div>
  <hr>

  <div class="card mb-3" style="border:none">
    <div class="row g-0">
      <div class="col-md-4 d-flex align-items-center justify-content-center">
        <!-- <img src="..." class="img-fluid rounded-start" alt="..."> --><i class="bi bi-calendar4-week" style="font-size:4em; color: var(--color-fsp)"></i>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Pago diferido</h5>
          <p class="card-text">Compra hoy y comienza a pagar hasta en 3 meses después.</p>
         
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
        
      </div>
     
    </div>
  </div>
  <hr>
  <div style="margin-bottom: 5em"></div>


</div>


<!-- Codigo aca -->

<app-footer></app-footer>