<div class="footer" style="min-height:40em; background-color:#DDDDDD; border-top: .2em solid var(--color-fsp);">
    <div class="row align-items-top justify-content-around"  style="background-color: white; min-height: 50%;padding: 1em 2em">
      <div class="col-6 col-md-3 mb-4" >
        <h5 class="fw-bolder">Servicio al cliente</h5>
        <h5 class="fw-bolder  text-muted">800 123 490</h5>
        <h6 class="fw-bolder">Horario de atención</h6>
        <h6 class="fw-bolder  text-muted">08:30 a 18:30 </h6>
      </div>
      <div class="col-6 col-md-3 mb-4">
        <h6 class="fw-bolder">Información</h6>
        <h6 class="fw-bolder">Preguntas Frecuentes </h6>
        <h6 class="fw-bolder">Bases de promociones</h6>
        <h6 class="fw-bolder">Términos y condiciones </h6>
      </div>
      <div class="col-6 col-md-3 mb-4">
        <h6 class="fw-bolder" >Contratos</h6>
        <h6 class="fw-bolder">Tarjeta FashionsPark </h6>

      </div>
      <div class="col-6 col-md-3 mb-4">
        <h5 class="fw-bolder">Nuestra Empresa</h5>
        <h6 class="fw-bolder text-muted">Visión </h6>
        <h6 class="fw-bolder text-muted">Misión</h6>
      </div>
    </div>

    <div class="row d-flex" style="min-height: 50%;padding: 0 2em">
      <div class="col-12 col-md-4 p-4 order-0 order-md-0">
        <p class="lh-lg"  style="font-size: small;">Representante Legal: Eduardo Soto Bustos
          Domicilio: Panamericana Norte 5951 comuna de Conchalí
          Correo electrónico: callcenter@fashionspark.com
          Número de teléfono de contacto: 800 123 490</p>
      </div>
      <div class="col-12 col-md-4  d-flex justify-content-center align-items-end order-2 order-md-1" style="padding-bottom:1em">
        <img src="./../../../../assets/Images/logo2.png" class="img-fluid" alt="..." width="100px">
      </div>
      <div class="col-12 col-md-4 p-4 order-1 order-md-2">
        <p class="text-muted" style="font-size: .7em;">Estimados Clientes: Les comunicamos que a partir del 27 de Noviembre de 2018, Tarjeta Fashion’s Park y su correspondiente Contrato pasaron a ser administrados por Administradora de Tarjeta de Crédito Fashion’s Park SPA, rut 76.924.124-8. Este cambio no implica en ningún caso modificaciones a los derechos y obligaciones pactados al momento de contratar el producto.</p>
      </div>
    </div>
</div>